# List of environment variables

- keep your secret key private (default value for development is provided)
SECRET_KEY=

- set this to "true" for development; default is "false"
DEBUG=

- set this to comma separated key value pairs in production; default is "*" (development)
ALLOWED_HOSTS=

- set url for your database, for example:
  - if sqLite: sqlite:///db.sqlite3
  - if postgres, use this patern: postgres://<user>:<pswd@><port>/<db_name>
DATABASE_URL=
